<div class="row">
  <div class="col s12">
    <h2 class="center-align">Student profile</h2>
  </div>
</div>

<div class="row">
  <div class="col offset-m3 m6 s12">
    <div class="card indigo lighten-5">
      <div class="card-content black-text">
        <span class="card-title">Name: <%= @student.name %></span>
        <p>Email: <%= @student.email %></p>
        <p>Course Enrollments: </p>
          <% if @student.courses.empty?%>
            None
          <% else %>
            <ul>
              <% @student.courses.each do |course| %>
                <li><%= course.name %></li>
              <% end %>
            </ul>
          <% end %>
      </div>
      <% if current_user == @student %>
        <div class="card-action">
          <%= link_to '<i class="material-icons right">create</i>Edit profile'.html_safe, edit_student_path(@student), class: "indigo btn-small" %>
        </div>
      <% end %>
    </div>
  </div>
</div>